extends layout

block content
  h1= title
  p Welcome to #{title}

  // Wrapper
  #wrapper

    // Question Options
    #questionoptions
       h2 Question Options
       p
          #questiondetail

    // /Question Options


    // QUESTION LIST
    h2 Question List
    #questionList
            table
                thead
                    th Question
                    th Delete
                tbody
    // /QUESTION LIST

    // ADD QUIZ
    #addQuiz
            fieldset
                input#inputQuiz(type='text', placeholder='Quiz Name')    
                br
                button#btnAddQuiz Add Quiz
    // /ADD QUIZ

    // ADD QUESTION
    h2 Add Question
    #addQuestion
            fieldset
                input#inputQuestion(type='text', placeholder='Question')
                br
                input#inputOptionA(type='text', placeholder='OptionA')
                br
                input#inputOptionB(type='text', placeholder='OptionB')
                br
                input#inputOptionC(type='text', placeholder='OptionC')
                br
                input#inputOptionD(type='text', placeholder='OptionD')
                br
                input#inputOptionE(type='text', placeholder='OptionE')
                br
                input#inputAnswer(type='select', placeholder='Answer')
                br
                button#btnAddQuestion Add Question
    // /ADD QUESTION
        
  // /WRAPPER
